@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,200&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	text-align: center;
}

.message {
	color: #b81c14;
}

.successMsg {
	color: #8df002;
}

.logincontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
}

.registrtioncontainer {	
	height: 500px;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	box-shadow: 0 0 5px black;
}

.form {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	z-index: 1;
	font-family: "Poopins", sans-serif;
	position: absolute;
	width: 320px;
	text-align: center;
	color: grey;
}

.form i {
	z-index: 1;
	color: #ccc;
	font-size: 55px;
	margin-bottom: 30px;
}

.form .user-input {
	width: 320px;
	height: 35px;
	margin-bottom: 20px;
	outline: none;
	border: none;
	background: rgba(222, 171, 4, 0.2);
	color: grey;
	font-size: 18px;
	text-align: center;
	border-radius: 5px;
	transition: 0.5s;
	transition-property: border-left, border-right, box-shadow;
}
	
.form select {
	color: #fff;
	width: 320px;
	height: 35px;
	margin-bottom: 30px;
	outline: none;
	border: none;
	background: rgba(222, 171, 4, 0.2);
	color: #fff;
	font-size: 18px;
	text-align: center;
	border-radius: 5px;
	transition: 0.5s;
	transition-property: border-left, border-right, box-shadow;	
}
	
.option {
	color: ccc;
}

.form .user-input:hover, .form .user-input:focus, .form .user-input:active, .form select:hover {
	border-left: solid 8px #deab04;
	border-right: solid 8px #deab04;
	box-shadow: 0 0 20px rgba(222, 171, 4, 0.8);
}

.form .option-01 {
	margin-bottom: 50px;	
}

.form .option-01 a {
	color: #888; 
	font-size: 14px;
	font-style: italic;
	float: right;
}

.form .btn {
	outline: none;
	border: none;
	width: 320px;
	height: 35px;
	background: #deab04;
	color: #fff;
	font-size: 18px;
	letter-spacing: 1px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.5s;
	transition-property: border-left, border-right, box-shadow;
}

.form .btn:hover {
	border-left: solid 8px rgba(222, 171, 4, 0.2);
	border-right: solid 8px rgba(222, 171, 4, 0.2); 	
	box-shadow: 0 0 20px rgba(222, 171, 4, 0.8)
}

.form .option-02 {
	color: #bbb;
	font-size: 14px;
	margin-top: 10px;
}

.form .option-02 a {
	color: #4285F4
}

@media screen and (max-width: 500px) {
	.form {
		width: 95%;
	}
	
	.form .user-input{
		width: 100%;
	}
	
	.form .btn{
		width: 100%
	}
}
